@model IEnumerable<Sistemas_de_emprestimos_de_livro.Models.Emprestimo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataEmprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDevolucaoPrevista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeRenovacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmprestimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDevolucaoPrevista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeRenovacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Livro.LivroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UsuarioId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmprestimoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmprestimoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmprestimoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
